*{
    
   align-items: center;
   text-align: center;
   
   
   
   
   
    
}

.header{
    background-color:#CE2829;
    width: 100%;
    height: 50%;
    padding-bottom: 15px;
}

.product-title {
    margin-right: 18rem; 
    font-size: x-large;
    font-family: 'Barlow', sans-serif;
    font-weight: bold ;
    margin-bottom: 2rem;

}
.product-price{
    margin-right: 16.9rem; 
    font-size: x-large;
    font-weight: bold;
}
.product-score{
    margin-right: 3.5rem; 
    font-size: medium;
    color: #5F5F5F
}

.product-comments{
    font-size: medium;
    color: #5F5F5F;
    margin-right: 4.5rem

}

.content-text{
    margin-right: 18rem; 
    display: flex;
    text-align: center;
    width: 40%;
    height: 50%;
    align-items: center;
    margin: 0 auto;
   
    font-family: 'Barlow', sans-serif;
    
    line-height: 2.5rem;
    font-size: medium ;
     
} 

content-row{
    align-items:center;
}

.product-container{
    
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    align-items: center;
    background-color: white;
    color:black;
    

   
   
} 

#extra-orders{

   display:flex;
   flex-direction: column;
   flex-wrap: wrap;
   max-width: 70%; 
   height: 40%;
   text-align: left;
   align-content: left;
   margin: 1rem 2rem;
   font-size: medium;
   margin-left: 8rem;
   
}

#container-section {
    display:flex; 
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    font-size: medium;
    margin-left: 0.5rem;
   
   

}

#size {
    font-weight: bold;
    margin-bottom: 12rem;
    margin-left: 2rem;
}
.form  {
    display:flex; 
    flex-direction: column;
    flex-flow: column wrap;
    margin-left: 5rem;
     
    
    
}

#pizza-form {
    margin-top: 1.8rem ;
    margin-right: 1rem;
   
   

}

.size-content {
    margin-bottom: 12rem;
    margin-right: 12rem;
}

#size-dropdown {
    margin-top: 1rem;
    width: 100%;
}

#lezzetler {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    text-align: center;
    width: 60%;
    height: 10%;
    margin-left: 14.5rem;
    
    
}


#product-description {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    text-align: center;
    justify-content: center;
    
}




.cart-price {
    border-radius: 1rem solid black;
    box-sizing: black;
}
#special-text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    margin-right: 5rem;
    

}

#siparis {
    height: 50px;
    margin-left: 2.5rem;
    
} 

.counter {
    width: 60px;
    height: 50px;
    border: 2px solid #FAF7F2; 
    margin-top: 1rem;
}

.btn-1 {
    width: 60px;
    height: 50px;
    
    margin-bottom: 0.5rem;
    
}

#cart-price {
    
    width: 360px;
    
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 2px solid #FAF7F2;
    border-radius: 0.5rem;
    position:absolute;
    align-content: flex-start;
    display: flex;
    flex-direction: column;
   
   
    
}

.card-text {
   align-content: flex-start;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   
   
}

#order-button {
   
    width: 360px;
    height: 50px;
    

}

p {
    font-size: x-small;
    margin-left: 3rem;
 
   
}

h6 {
    margin-left: 3rem;
    margin-top: 12rem;
    font-size: small;
}

